<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Details</title>
    <link rel="stylesheet" href="../styles/normalize.css">
    <link rel="stylesheet" href="../styles/user-details.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://kit.fontawesome.com/d4879b1e1f.js" crossorigin="anonymous"></script>

</head>
<body>

<div class="deep-glow"></div>

<header>
    <div class="header lineUp" id="header">
        <div class="logo">
            <h1 class="logo-text neonText" id="main">
                <a href="index.html" onclick="url=this.href;setTimeout('location.href=url',2000);this.href='javascript:void(0)';">OKTEN</a>
            </h1>
        </div>
        <div class="menu dropdown">
            <i class="fa-solid fa-bars glow"></i>
            <div class="dropdown-content lineUp">
                <p class="hover-text neonText lineUp" id="dropdown2">
                    <a href="posts.html" onclick="url=this.href;setTimeout('location.href=url',2000);this.href='javascript:void(0)';">POSTS</a>
                </p>
                <p class="hover-text neonText lineUp" id="dropdown3">
                    <a href="index.html" onclick="url=this.href;setTimeout('location.href=url',2000);this.href='javascript:void(0)';">USERS LIST</a>
                </p>
            </div>
        </div>
    </div>
</header>

<div class="user" id="user" data-aos="fade-up"></div>

<div class="father" data-aos="fade-up">
    <div class="contacts" id="contacts"></div>

    <div class="address" id="address"></div>
</div>
<div class="mother" data-aos="fade-up">
    <div class="company" id="company"></div>
</div>

<div class="posts" id="posts">

</div>

<script src="../scripts/user-details.js"></script>

<script>
    AOS.init();
</script>

</body>
</html>